@{
    ViewData["Title"] = "Sample Enquiry";
}

<div class="row">
    <div class="col-md-6">
        <h2>Sample Enquiry</h2>
        <ul>
            <li><a asp-area="" asp-controller="Customer" asp-action="Populate">Load Sample customer with transactions</a> (API call returning just a number)</li>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
    </div>
</div>
